cherrypy
numpy
matplotlib
scipy
setuptools
scikit-learn
statsmodels
pyyaml
requests
pytest
git+https://github.com/phi-grib/standardiser/archive/master.git
git+https://github.com/josecarlosgomezt/nonconformist/archive/master.git