<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/ico" href="/static/images/etransafe.ico?v=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/smiles-drawer.min.js"></script>

    <script src="/static/scripts/utils.js"></script>
    <script src="/static/scripts/predict.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="container" >
      
      <div class="row">  
        
        <div class="col-8">
          <h1>Flame predict interface</h1>
        </div>
        
        <div class="col-4">
          <img class="pull-left pull-top" src="/static/images/etransafe-logo.png"></image>
        </div>
        
        <div>&nbsp;</div>
        
      </div>  
      
      <div class="row">
        <div class ="col-8">
          
          <form class="form">
            
            <div class="form-group row">
              <label class="col-sm-2 control-label" for="ifile">Input </label>
              <div class="col-sm-10">                  
                <div class="custom-file" id="customFile">
                  <input type="file" class="custom-file-input" id="ifile">
                  <label class="custom-file-label" for="ifile" id="ifile-label">Choose file</label>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-2 control-label" for="model">model</label>
              <div class="col-sm-10">
                <select class="form-control" id="model" name="model">
                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-2 control-label" for="version">version</label>
              <div class="col-sm-10">
                <select class="form-control" id="version" name="version">
                </select>               
              </div>
            </div>
            
          </form>
          
        </div>
        
        <div class="col-4 ">
          <button class="btn btn-outline-primary" role="button" id="predict" disabled="true">Predict</button>
          <button class="btn btn-outline-secondary" role="button" id="export" disabled="true" >Export</button>
        </div>
        
      </div>
      
      <div class="row">
        
        <div class="col-12">
          <h4>Console</h4>
          <p class="bg-light border rounded" id="data-console" >[not run]</p>     
        </div>

        <div class="col-12">
          <h4>Results</h4>
          <table class="table table-fixed table-bordered table-striped" id="data-table"></table>
        </div>

        <div class="col-12">
          <p class="bg-light border rounded" id="data-json" hidden="true" ></p>     
        </div>        
        
      </div>
      <div class="row">
        <div class="loader" id="processing" hidden="true"></div>
      </div>

    </div>
    
  </body>
  </html>