html, .side-menu{
    min-height: 100%;
}
body{
    
   
}
#manage{
  display: inline;
  margin-bottom: 20px;
}
#opts{
    overflow: inherit;
}
#addForm, #uploadfile, #impLabel{
    width: 60%;
}
.navbar-brand{
    font-size: 2.5em;
}
.line{
    width:60%;
    margin-left: 0%;
}
#exportBTN{
    color: #007bff
}
#exportBTN:hover{
    color : white;
}
.tabItem {
    color: #e6901a;
}
.tabItem:hover{
    color: #bc730f;
}

.mName{
    text-transform: capitalize;
}

.orange {
    color: #e59d22;
    border-color: #e59d22;
  }
  .orange:hover:not(:disabled) {
    color: #fff;
    background-color: #e59d22;
    border-color: #e59d22;
  }
  .orange:focus, .orange.focus {
    box-shadow: 0 0 0 0.2rem #e59d22;
  }
  .orange.disabled, .orange:disabled {
    color: #e59d22;
    border-color: #e59d22;
  }
  .orange:not(:disabled):not(.disabled):active:focus,
  .orange:not(:disabled):not(.disabled).active:focus,
  .show > .orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #f1b243;
  }
  .orange:not(:disabled):not(.disabled):active,
.orange:not(:disabled):not(.disabled).active,
.show > .orange.dropdown-toggle {
  color: #fff;
  background-color: #e59d22;
  border-color: #e59d22;
}

  .blue {
    color: #1f5478;
    border-color: #1f5478;
  }
  .blue:hover:not(:disabled) {
    color: #fff;
    background-color: #1f5478;
    border-color: #1f5478;
  }
  .blue:focus, .blue.focus {
    box-shadow: 0 0 0 0.2rem #1f5478;
  }
  .blue.disabled, .blue:disabled {
    color: #1f5478;
    border-color: #1f5478;
  }
  .blue:not(:disabled):not(.disabled):active:focus,
  .blue:not(:disabled):not(.disabled).active:focus,
  .show > .blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #295674da;
  }
  .blue:not(:disabled):not(.disabled):active,
  .blue:not(:disabled):not(.disabled).active,
  .show > .blue.dropdown-toggle {
    color: #fff;
    background-color: #1f5478;
    border-color: #1f5478;
  }
